*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(img/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.logo{
    width: 70px;
    cursor: pointer;
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;

}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
.h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}
.hover-1 {
    background-image: linear-gradient(#1095c1,#1095c1);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .4s;
}
.hover-1:hover {
    background-size: 100% 100%;
}
.hover-2 {
    --c: #1095c1;
    line-height: 1.2em;
    background:
            conic-gradient(from -135deg at 100%  50%, var(--c) 90deg, #0000 0)
            0  var(--p, 0%) / var(--s, 0%) 200% no-repeat,
            conic-gradient(from -135deg at 1.2em 50%, #0000 90deg, var(--c) 0)
            100% var(--p, 0%) / var(--s, 0%) 200% no-repeat;
    transition: .4s, background-position 0s;
}
.hover-2:hover {
    --p: 100%;
    --s: calc(50% + .6em);
}
.hover-3 {
    --c: no-repeat linear-gradient(#1095c1 0 0);
    background:
            var(--c) calc(-101% + var(--i,0)*101%) 100% / 50.1% calc(100%*var(--i,0) + .08em),
            var(--c) calc( 201% - var(--i,0)*101%) 0    / 50.1% calc(100%*var(--i,0) + .08em);
    transition: .3s calc(var(--i,0)*.3s), background-position .3s calc(.3s - var(--i,0)*.3s);
}
.hover-3:hover {
    --i: 1;
}
.hover-4 {
    background-image: linear-gradient(#1095c1 0 0);
    background-size: 200% .08em; /* .08em is our fixed height, use what you want  */
    background-position: 200% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .3s;
}
.hover-4:hover {
    transition: background-size .3s .3s, background-position .3s;
    background-size: 200% 100%;
    background-position: 100% 100%;
}

.side-bar{
    width: 50px  ;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    position: absolute;
    right: 0;
    top: 0;
}
.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}
.social-links img, .useful-links img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}
.social-links{
    width:50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.useful-links{
    width:50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}
.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}
@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2) {
    animation-delay: 1s;
}
.bubbles img:nth-child(3) {
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4) {
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5) {
    animation-delay: 3s;
}
.bubbles img:nth-child(6) {
    animation-delay: 6s;
    width: 20px;
}
.bubbles img:nth-child(7) {
    animation-delay: 7s;
    width: 35px;
}